.idea
application.properties
secret
coffee.*
.gradle
build/*
classes/*
idea

bower_components
node_modules
dist/
.tmp
app.yaml
.DS_Store
CoffeeSlacker.iml
CoffeeSlacker.ipr
CoffeeSlacker.iws
.clang_complete
.gcc-flags.json
.pioenvs/
.piolibdeps/
